{% extends '__base__.html' %}

{% block title %}Home{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}

    <div class="uk-width-medium-3-4">
    {% for blog in blogs %}
        <article class="uk-article">
            <h2><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
            <p class="uk-article-meta">{{ blog.created_at|datetime }} ago</p>
            <p>{{ blog.summary }}</p>
            <p><a href="/blog/{{ blog.id }}">Continue... <i class="uk-icon-angle-right"></i></a></p>
        </article>
        <hr class="uk-article-divider">
    {% endfor %}
    {{ pagination('/?page=', page) }}
    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">Links</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-link"></i> <a target="_blank" href="http://xiaohuang.rocks">XiaoHuang</a></li>
                <li><i class="uk-icon-weibo"></i> <a target="_blank" href="http://weibo.com/henryhuang1989">weibo</a></li>
                <li><i class="uk-icon-twitter"></i> <a target="_blank" href="https://twitter.com/iHenryhuang">twitter</a></li>
                <li><i class="uk-icon-github"></i> <a target="_blank" href="https://github.com/xhuang68">GitHub</a></li>
                <li><i class="uk-icon-cloud"></i> <a target="_blank" href="https://www.digitalocean.com">DigitalOcean</a></li>
            </ul>
        </div>
    </div>

{% endblock %}
